google-cloud-storage==2.14.0
google-cloud-logging==3.9.0
google-cloud-pubsub==2.19.0
google-cloud-secret-manager==2.18.0
google-cloud-resource-manager==1.11.0
google-api-python-client==2.111.0
google-auth==2.25.2
google-auth-httplib2==0.2.0
functions-framework==3.5.0
